<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
	<!-- Dynamic file target: file path will be set via logger name -->
	<target name="file" xsi:type="File" fileName="${basedir}/Logs/${logger}/${date:format=yyyy-MM-dd}/log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}" keepFileOpen="false" concurrentWrites="true" />
	<target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}" />
  </targets>

  <rules>
	<!-- All logs to file (logger name will be class name) -->
	<logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>
